@model VladoBlog.Models.Post

@{
    ViewBag.Title = "Детайли";
}

<h2>Пълно съдържание на статията</h2>

<div>
    <h4>Статия</h4>
    <hr />
    <dl class="dl-horizontal" style="display:inline-block;background-color:antiquewhite; border-radius:15px;">
        <dt style="text-align : center;">
            <br />
            Заглавие
        </dt>

        <dd style="display: inline-block; background-color:antiquewhite; padding-top:20px;">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt style=" text-align:center;">
            <br />
            Текст
           
        </dt>

        <dd style="display: inline-block; text-align:inherit; background-color:antiquewhite; border-radius:8px;">
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt style="padding-top: 20px;  text-align:center;">
            Дата
        </dt>

        <dd style="display: inline-block; text-align: justify; background-color:antiquewhite; padding-top:20px;padding-bottom:15px; ">
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Обратно към статии", "Index")
    @if (User.IsInRole("Administrators") || (Model.Author != null && User.Identity.Name == Model.Author.UserName))
    {
        @: | @Html.ActionLink("Промени", "Edit", new { id = Model.Id })
    }
    
</p>
