@{
    ViewBag.Title = "Блог";
}

@model IEnumerable<VladoBlog.Models.Post>
@using VladoBlog.Classes;


        <aside style="border-radius:15px; padding-top: 10px; padding-bottom:15px">
            <img src="~/Images/lila.jpg" width="950"/>
        </aside>

        <div id="main" class="row" style="">
            @foreach (var post in Model)
            {
                <div id="statia" class="post col-md-4" >
                    <h4 id="statia-title" class="title" style="">@post.Title</h4>
                        Публикувано от
                        @if (post.Author != null)
                {
                            @:<i>@post.Author.FullName</i>
            }
                else
                {
                            @:<i>no author</i>
            }
                        <br /> на <i>@post.Date</i>
                   

                    <div id="statia-text" style="">@Utils.CutText(post.Body, 260)
                    <div style="text-align:right;">
                        <br />
                        <a href="/Posts/Details/@post.Id"><i>( Прочети пълния текст ...)</i></a>
                    </div>
                    
                    </div>
                </div>
            }
        </div>


<div style="float: left; padding-bottom:30px; padding-top:30px; ">Дата и час на Вашето посещение: @DateTime.Now</div>
<aside class="image" style="position:center; padding-top: 30px; padding-bottom:15px">
    <img src="~/Images/full (2).jpg" height="25" width="950" />
</aside>

    





